<!DOCTYPE html>
<html lang="en">
<head>



    <meta charset="UTF-8">
    <style type="text/css">
        img {
            margin-left: 20px;
        }
        .bt{
            margin-left: 10px;
        }
        .bt:hover{
            background-color: grey;
        }
        .hm{
            color: white;
        }
        .card{
        text-align: left;
        }
        .tex{
        text-align: center;
        border: 5px outset;
        }

      </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Cadastro de series</title>
</head>
<body class= "bg-dark">
<div>
    <nav class="navbar navbar-expand navbar-light bg-dark d-flex justify-content-between ">
        <div class="text-left">
            <a href="/index"><img src="logo.png" class="rounded" width="30%" height="30%" alt="..."></a>
          </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link active text-light bt" href="/obra/cadastrafilmes">Cadastro de filmes</a>
            <a class="nav-item nav-link active text-light bt" href="/obra/cadastraseries">Cadastro de series</a>
            <a class="nav-item nav-link active text-light bt" href="/obra/cadastralivros">Cadastro de livros</a>

        </div>
    </nav>
    <div class="jumbotron mb-0">

    </div>

  <div class="card" th:each="obra : ${obras}">
      <div>
      <img th:src="${obra.urlImagem}" src=""/>
      <div class="">
      <div class="tex"><b>Nome: </b><span  th:text="${obra.nome}"></span></div>
      <div class="tex"><b> Ano de lançamento: </b><span th:text="${obra.lancamento}"></span></div>
      <div class="tex"><b> País de origem: </b><span th:text="${obra.pais}"></spanth:text></span></div>
      </div>
      </div>
</body>
</html>